@use 'src/tokens/color-greyscale';
@use 'src/tokens/raspberry-pi/color-brand';
@use 'src/tokens/raspberry-pi/color-palette';

.sc-rp-link {
  color: color-palette.$navy;

  &:focus,
  &:hover {
    color: color-brand.$primary;
  }

  &:visited {
    color: color-palette.$violet;

    &:focus,
    &:hover {
      color: color-brand.$primary;
    }
  }
}

.sc-rp-link--inverted-text,
.sc-rp-link[data-sauce-inverted-text],
[data-sauce-inverted-text] .sc-rp-link,
[data-sauce-inverted-text] .sc-rp-link:visited {
  color: color-greyscale.$white;
  text-decoration: underline;

  &:hover {
    color: color-greyscale.$lightest;
    text-decoration: none;
  }
}
