@use 'src/mixins/font-size';
@use 'src/mixins/margin';
@use 'src/primitives/heading';
@use 'src/tokens/line-height';
@use 'src/tokens/raspberry-pi/color-brand';

.sc-rp-type-hero-heading {
  @include font-size.van;
  @include heading.primitive;
  @include margin.b('chaffinch');

  color: color-brand.$primary;
  line-height: line-height.$tight;
  max-width: 100%;
}
