@mixin none { float: none; }

@mixin start {
  float: left;
  float: inline-start;
}

@mixin end {
  float: right;
  float: inline-end;
}

@mixin left  { @include start; }
@mixin right { @include end;   }
