@use '/src/mixins/font-size';
@use '/src/mixins/margin';
@use '/src/primitives/heading';
@use '/src/tokens/line-height';
@use '/src/tokens/raspberry-pi/color-brand';

.sc-rp-type-primary-heading {
  @include heading.primitive;
  @include font-size.car;
  @include margin.b('ant');

  color: color-brand.$primary;
  line-height: line-height.$cosy;
  max-width: 100%;
}
