:root {
  // Black/White
  --black: #000;
  --white: #fff;

  // Grey Hue/Saturation
  --grey-hue: 0;
  --grey-sat: 0%;

  //  Grey Scale
  --grey-0: var(--black);
  --grey-10: hsl(var(--grey-hue), var(--grey-sat), 10%);
  --grey-20: hsl(var(--grey-hue), var(--grey-sat), 20%);
  --grey-30: hsl(var(--grey-hue), var(--grey-sat), 30%);
  --grey-40: hsl(var(--grey-hue), var(--grey-sat), 40%);
  --grey-50: hsl(var(--grey-hue), var(--grey-sat), 50%);
  --grey-60: hsl(var(--grey-hue), var(--grey-sat), 60%);
  --grey-70: hsl(var(--grey-hue), var(--grey-sat), 70%);
  --grey-80: hsl(var(--grey-hue), var(--grey-sat), 80%);
  --grey-90: hsl(var(--grey-hue), var(--grey-sat), 90%);
  --grey-100: var(--white);
}
