@use 'primitives/button';

@use 'mixins/devices';
@use 'tokens/border';
@use 'tokens/color-greyscale';
@use 'tokens/font-weight';
@use 'tokens/radius';
@use 'tokens/transition-duration';
@use 'tokens/transition-timing';

$selector: 'c-button' !default;

$background-color--hover: color-greyscale.$grey-lightest !default;
$background-color: color-greyscale.$grey-light !default;
$border-width: border.$none !default;
$border-radius: radius.$square !default;
$color: color-greyscale.$black !default;
$font-weight: font-weight.$medium;
$transition-duration: transition-duration.$short !default;
$transition-property: background-color transform;
$transition-timing-function: transition-timing.$eased !default;

.#{$selector},
.#{$selector}:visited {
  @include button.primitive;
  background-color: $background-color;
  border-radius: $border-radius;
  border-width: $border-width;
  color: $color;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: font-weight.$medium;
  padding: 1rem 0;
  text-decoration: none;
  transition-duration: $transition-duration;
  transition-property: $transition-property;
  transition-timing-function: $transition-timing-function;
  width: 100%;

  @include devices.respond-to('phone') {
    padding: 1rem 4rem;
    width: auto;
  }

  &:active {
    transform: scale(0.99);
  }

  &:focus,
  &:hover {
    background-color: $background-color--hover;
  }
}
