@use 'true' as *;
@use 'scss/mixins/media/device';

@include describe('.is') {
  @include it('outputs the css for $value: phone-portrait') {
    @include assert {
      @include output {
        @include device.is('phone-portrait') {
          color: rebeccapurple;
        }
      }
      @include expect {
        @media only all and (max-width: 0) {
          color: rebeccapurple;
        }
      }
    }
  }

  @include it('outputs the css for $value: phone-landscape') {
    @include assert {
      @include output {
        @include device.is('phone-landscape') {
          color: rebeccapurple;
        }
      }
      @include expect {
        @media only all and (max-width: 600px) and (orientation: landscape) {
          color: rebeccapurple;
        }
      }
    }
  }

  @include it('outputs the css for $value: tablet-portrait') {
    @include assert {
      @include output {
        @include device.is('tablet-portrait') {
          color: rebeccapurple;
        }
      }
      @include expect {
        @media only all and (min-width: 768px) {
          color: rebeccapurple;
        }
      }
    }
  }

  @include it('outputs the css for $value: tablet-landscape') {
    @include assert {
      @include output {
        @include device.is('tablet-landscape') {
          color: rebeccapurple;
        }
      }
      @include expect {
        @media only all and (min-width: 1024px) and (orientation: landscape) {
          color: rebeccapurple;
        }
      }
    }
  }

  @include it('outputs the css for $value: laptop') {
    @include assert {
      @include output {
        @include device.is('laptop') {
          color: rebeccapurple;
        }
      }
      @include expect {
        @media only all and (min-width: 1200px) {
          color: rebeccapurple;
        }
      }
    }
  }

  @include it('outputs the css for $value: desktop') {
    @include assert {
      @include output {
        @include device.is('desktop') {
          color: rebeccapurple;
        }
      }
      @include expect {
        @media only all and (min-width: 1440px) {
          color: rebeccapurple;
        }
      }
    }
  }
}
