@use 'true' as *;
@use 'scss/mixins/clear';

@include describe('.both') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include clear.both; }
      @include expect { clear: both; }
    }
  }
}

@include describe('.none') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include clear.none; }
      @include expect { clear: none; }
    }
  }
}

@include describe('.start') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include clear.start; }
      @include expect {
        clear: left;
        clear: inline-start;
      }
    }
  }
}

@include describe('.end') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include clear.end; }
      @include expect {
        clear: right;
        clear: inline-end;
      }
    }
  }
}

@include describe('.left') {
  @include it('outputs .start') {
    @include assert {
      @include output { @include clear.left; }
      @include expect { @include clear.start; }
    }
  }
}

@include describe('.right') {
  @include it('outputs .end') {
    @include assert {
      @include output { @include clear.right; }
      @include expect { @include clear.end; }
    }
  }
}
