@use 'src/mixins/device';
@use 'src/mixins/padding';

@mixin unsafe-debug {
  @warn 'PLEASE REMOVE ALL DEBUG INCLUDES BEFORE DEPLOYING TO PRODUCTION';

  .sc-rp-image-block--debug & {
    @content;
  }
}

@mixin image-bottom {
  .sc-rp-image-block--image-bottom & {
    @content;
  }
}

@mixin image-top {
  .sc-rp-image-block--image-top & {
    @content;
  }
}

@mixin reverse {
  .sc-rp-image-block--reverse & {
    @content;
  }
}

.sc-rp-image-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 130rem;
  overflow: hidden;

  @include device.min-width(760px) {
    flex-direction: row;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 5fr 1.5fr 1.5fr 6.5fr;
      grid-template-rows: 1fr;
    }
  }
}

.sc-rp-image-block--reverse {
  flex-direction: column-reverse;

  @include device.min-width(760px) {
    flex-direction: row-reverse;
  }
}

.sc-rp-image-block__content {
  @include padding.l([ 'bee', 'grizzly' ]);
  @include padding.r([ 'bee', 'ant' ]);
  @include padding.inline('dog');
  width: 100%;

  @include reverse {
    @include padding.l([ 'bee', 'ant' ]);
    @include padding.r([ 'bee', 'grizzly' ]);
  }

  @include device.min-width(760px) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 1;

    @include reverse {
      grid-column: 3 / 5;
    }
  }
}

.sc-rp-image-block__figure {
  max-width: 50rem;

  @include device.min-width(760px) {
    display: flex;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    justify-content: flex-end;
    max-width: 100%;

    @include image-bottom {
      align-self: flex-end;
    }

    @include image-top {
      align-self: flex-start;
    }

    @include reverse {
      grid-column: 1 / 4;
    }
  }
}

.sc-rp-image-block__image-container {
  display: block;
  height: auto;
  object-fit: cover;
  transform: translateX(-18.75%);
  width: 160%;

  @include unsafe-debug {
    position: relative;

    &::after,
    &::before {
      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 7px,
        rgba(255, 0, 0, 0.5) 7px,
        rgba(255, 0, 0, 0.5) 10px
      );
      border-color: rgba(255, 0, 0, 0.5);
      border-style: solid;
      border-width: 2px;
      content: ' ';
      height: 100%;
      position: absolute;
      top: 0;
      width: 18.75%;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
      transform: rotateY(180deg);
    }
  }

  @include device.min-width(760px) {
    transform: translateX(0%);
    width: 100%;
  }
}

.sc-rp-image-block__image {
  display: block;
  height: auto;
  width: 100%;
}
