@use 'scss/tokens/border-radius';

:root {
  --border-radius-circle: #{border-radius.$circle};
  --border-radius-large: #{border-radius.$large};
  --border-radius-medium: #{border-radius.$medium};
  --border-radius-small: #{border-radius.$small};
  --border-radius-square: #{border-radius.$square};
}
