@use 'scss/tokens/font-size';

/**
 * Based on a scale of 1.2
 * https://www.modularscale.com/?16&px&1.2
 * Each step up:   (previous-step) * 1.2
 * Each step down: (previous-step) / 1.2
 */
:root {
  --font-size-base:  #{font-size.$base};
  --font-size-ratio: #{font-size.$ratio};

  --font-size-u-8: #{font-size.$u-8};
  --font-size-u-7: #{font-size.$u-7};
  --font-size-u-6: #{font-size.$u-6};
  --font-size-u-5: #{font-size.$u-5};
  --font-size-u-4: #{font-size.$u-4};
  --font-size-u-3: #{font-size.$u-3};
  --font-size-u-2: #{font-size.$u-2};
  --font-size-u-1: #{font-size.$u-1};

  --font-size-d-1: #{font-size.$d-1};
  --font-size-d-2: #{font-size.$d-2};
  --font-size-d-3: #{font-size.$d-3};
}
