@use 'scss/tokens/line-height';

:root {
  --line-height-reset:   #{line-height.$reset};
  --line-height-tight:   #{line-height.$tight};
  --line-height-cosy:    #{line-height.$cosy};
  --line-height-regular: #{line-height.$regular};
  --line-height-loose:   #{line-height.$loose};
}
