@use 'scss/tokens/spacing';

:root {
  --spacing-multiplier: #{spacing.$multiplier};

  --spacing-0: 0;
  --spacing-1: #{spacing.$size-1};
  --spacing-2: #{spacing.$size-2};
  --spacing-3: #{spacing.$size-3};
  --spacing-4: #{spacing.$size-4};
  --spacing-5: #{spacing.$size-5};
  --spacing-6: #{spacing.$size-6};
  --spacing-7: #{spacing.$size-7};
  --spacing-8: #{spacing.$size-8};
  --spacing-9: #{spacing.$size-9};

  --spacing-ant:       var(--spacing-1);
  --spacing-bee:       var(--spacing-2);
  --spacing-chaffinch: var(--spacing-3);
  --spacing-dog:       var(--spacing-4);
  --spacing-eagle:     var(--spacing-5);
  --spacing-flamingo:  var(--spacing-6);
  --spacing-grizzly:   var(--spacing-7);
  --spacing-hippo:     var(--spacing-8);
  --spacing-iguanadon: var(--spacing-9);
}
