@use 'scss/tokens/transition-timing';

:root {
  --transition-timing-elastic: #{transition-timing.$elastic};
  --transition-timing-eased:   #{transition-timing.$eased};
  --transition-timing-linear:  #{transition-timing.$linear};
}
