@use 'scss/tokens/timing-duration';

:root {
  --time-instantly:   #{time.$instantly};
  --time-immediately: #{time.$immediately};
  --time-quickly:     #{time.$quickly};
  --time-promptly:    #{time.$promptly};
  --time-slowly:      #{time.$slowly};
  --time-paused:      #{time.$paused};
}
