:root, :host {
  --transition-duration-instantly: 0s;
  --transition-duration-immediately: 0.05s;
  --transition-duration-quickly: 0.1s;
  --transition-duration-promptly: 0.2s;
  --transition-duration-slowly: 0.4s;
  --transition-duration-paused: 3.2s;
}
