@use 'scss/tokens/transition-duration';

:root {
  --transition-duration-instantly:   #{transition-duration.$instantly};
  --transition-duration-immediately: #{transition-duration.$immediately};
  --transition-duration-quickly:     #{transition-duration.$quickly};
  --transition-duration-promptly:    #{transition-duration.$promptly};
  --transition-duration-slowly:      #{transition-duration.$slowly};
  --transition-duration-paused:      #{transition-duration.$paused};
}
