@use 'true' as *;
@use 'scss/mixins/gap';

@include describe('.all') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include gap.all(1rem); }
      @include expect {
        --gap: 1rem;
        grid-gap: var(--gap);
        gap: var(--gap);
      }
    }
  }
}

@include describe('.column') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include gap.column(1rem); }
      @include expect {
        --column-gap: 1rem;
        grid-column-gap: var(--column-gap);
        column-gap: var(--column-gap);
      }
    }
  }
}

@include describe('.row') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include gap.row(1rem); }
      @include expect {
        --row-gap: 1rem;
        grid-row-gap: var(--row-gap);
        row-gap: var(--row-gap);
      }
    }
  }
}
