@use 'scss/mixins/device';
@use 'scss/mixins/font';
@use 'scss/mixins/margin';
@use 'scss/mixins/padding';
@use 'scss/primitives/heading';
@use 'scss/tokens/color-greyscale';
@use 'scss/tokens/font-weight';
@use 'scss/tokens/line-height';

.c-card {
  --flex-direction: column-reverse;

  background-color: color-greyscale.$white;
  border: 1px solid color-greyscale.$medium;
  display: flex;
  flex-direction: var(--flex-direction);
  flex-grow: 1;
  height: 100%;
  max-width: 25rem;
  position: relative;

  figure {
    flex-grow: 1;
    overflow: hidden;
  }

  picture {
    height: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.c-card__badge {
  background-color: color-greyscale.$white;
  border-color: color-greyscale.$medium;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.3rem;
  color: color-greyscale.$medium;
  @include font.use('base');
  left: -0.5rem;
  line-height: line-height.$loose;
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  position: absolute;
  text-transform: uppercase;
  top: -0.5rem;
  white-space: nowrap;
}

.c-card__heading {
  @include heading.primitive;
  @include font.use('u-1');
}

.c-card__summary {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  footer {
    margin-top: auto;
  }
}

@mixin card-horizontal {
  --flex-direction: row-reverse;

  .c-card__summary {
    flex-grow: 1;
  }

  h2 {
    margin: 0 0 1rem;
  }

  figure {
    flex-grow: 0;
    min-width: 8rem;
    width: 8rem;
  }
}

.c-card[data-flavor="horizontal"] {
  @include card-horizontal;
}
