// <div class="layout-with-sidebar">
//   <div> <!-- intermediary wrapper -->
//     <div><!-- non-sidebar --></div>
//     <div><!-- sidebar --></div>
//   </div>
// </div>

.layout-with-sidebar {
  --content-wrap-width: 50%;
  --space: 1rem;
  --side-width: 0;

  overflow: hidden;
}

.layout-with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--space) / 2 * -1);
}

.layout-with-sidebar > * > * {
  margin: calc(var(--space) / 2);
  flex-basis: var(--side-width);
  flex-grow: 1;
}

.layout-with-sidebar > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(var(--content-wrap-width) - var(--space));
}

// Sidebar on right:
.layout-with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(var(--content-wrap-width) - var(--space));
}
