@use '/scss/tokens/font-size';

@mixin size($value, $fallback: false) {
  @if ($fallback != false) {
    font-size: $fallback;
  }

  @include prop.define(font-size, $value);
}

@mixin size-nudge-down {
  font-size: 80%;
}

@mixin size-nudge-up {
  font-size: 120%;
}

@mixin size-override($value) {
  @include prop.set(font-size, $value);
}

@mixin use($name) {
  @include size(map.get(font-size.$map, $name));
}
