@use 'sass:map';
@use 'scss/lib/prop';
@use 'scss/tokens/font-size';
@use 'scss/tokens/font-weight';

@mixin size($value, $fallback: false) {
  @if ($fallback != false) {
    font-size: $fallback;
  }

  @include prop.apply(font-size, $value);
}

@mixin size-nudge-down {
  font-size: calc(var(--font-size) / #{font-size.$ratio});
}

@mixin size-nudge-up {
  font-size: calc(var(--font-size) * #{font-size.$ratio});
}

@mixin size-override($value) {
  @include prop.apply(font-size, $value);
}

@mixin use($name) {
  @include size(map.get(font-size.$map, $name));
}

@mixin weight($value) {
  @include prop.apply(font-weight, $value);
}
