@use 'true' as *;
@use 'scss/mixins/media';
@use 'scss/mixins/media/preferences/color-scheme';

@include describe('.dark') {
  @include it('calls media.query') {
    @include assert {
      @include output {
        @include color-scheme.dark {
          color: rebeccapurple;
        }
      }
      @include expect {
        @include media.query('prefers-color-scheme', 'dark') {
          color: rebeccapurple;
        }
      }
    }
  }
}

@include describe('.light') {
  @include it('calls media.query') {
    @include assert {
      @include output {
        @include color-scheme.light {
          color: rebeccapurple;
        }
      }
      @include expect {
        @include media.query('prefers-color-scheme', 'light') {
          color: rebeccapurple;
        }
      }
    }
  }
}
