// <div class="layout-center">
//   <!-- centered content -->
// </div>

.layout-center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
  padding-left: 5rem;
  padding-right: 5rem;

  // With centered children
  display:flex;
  flex-direction: column;
  align-items: center;
}
