// <div class="layout-stack">
//   <-- the stack's children -->
// </div>

.layout-stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.layout-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.layout-stack > * + * {
  margin-top: var(--space);
}
