@use 'true' as *;
@use 'scss/mixins/size';
@use 'scss/mixins/size/width';

@include describe('.max') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include width.max(5rem); }
      @include expect {
        --max-inline-size: 5rem;
        max-width: var(--max-inline-size);
        max-inline-size: var(--max-inline-size);
      }
    }
  }
}

@include describe('.min') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include width.min(5rem); }
      @include expect {
        --min-inline-size: 5rem;
        min-width: var(--min-inline-size);
        min-inline-size: var(--min-inline-size);
      }
    }
  }
}

@include describe('.set') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include width.set(5rem); }
      @include expect {
        --inline-size: 5rem;
        width: var(--inline-size);
        inline-size: var(--inline-size);
      }
    }
  }
}
