@use 'true' as *;
@use 'scss/mixins/media';
@use 'scss/mixins/preferences/contrast';

@include describe('.less') {
  @include it('calls media.query') {
    @include assert {
      @include output {
        @include contrast.less {
          color: rebeccapurple;
        }
      }
      @include expect {
        @include media.query('prefers-contrast', 'less') {
          color: rebeccapurple;
        }
      }
    }
  }
}

@include describe('.more') {
  @include it('calls media.query') {
    @include assert {
      @include output {
        @include contrast.more {
          color: rebeccapurple;
        }
      }
      @include expect {
        @include media.query('prefers-contrast', 'more') {
          color: rebeccapurple;
        }
      }
    }
  }
}

@include describe('.no-preference') {
  @include it('calls media.query') {
    @include assert {
      @include output {
        @include contrast.no-preference {
          color: rebeccapurple;
        }
      }
      @include expect {
        @include media.query('prefers-contrast', 'no-preference') {
          color: rebeccapurple;
        }
      }
    }
  }
}
