/**
 * https://every-layout.dev/layouts/center/
 *
 * <div class="layout-center">
 *   <!-- centered content -->
 * </div>
 */

@use 'scss/mixins/margin';
@use 'scss/mixins/padding';
@use 'scss/mixins/size';

@mixin layout-center {
  --center-measure-full: 1300px;
  --center-measure-mini: 500px;
  --center-measure-midi: 750px;
  --center-measure-maxi: 1000px;

  --center-gutter-preferred: 5vw;
  --center-gutter-max:       var(--spacing-6);
  --center-gutter:           min(var(--center-gutter-preferred), var(--center-gutter-max));
  --center-measure:          var(--center-measure-full);

  @include margin.inline(auto);
  @include padding.inline(--center-gutter);
  @include size.max-width(--center-measure);

  &--mini { --center-measure: var(--center-measure-mini); }
  &--midi { --center-measure: var(--center-measure-midi); }
  &--maxi { --center-measure: var(--center-measure-maxi); }

  @content;
}
