/**
 * https://every-layout.dev/layouts/frame/
 *
 * <div class="layout-frame">
 *   <!-- the frame's child -->
 * </div>
 */

@use 'scss/mixins/_position.scss';

@mixin layout-frame {
  --frame-height: 9;
  --frame-width:  16;

  padding-bottom: calc(var(--frame-height) / var(--frame-width) * 100%);
  position: relative;

  @supports (aspect-ratio: var(--frame-width) / var(--frame-height)) {
    aspect-ratio: var(--frame-width) / var(--frame-height);
    padding-bottom: 0;
  }

  @supports (aspect-ratio: attr(width) / attr(height)) {
    aspect-ratio: attr(width) / attr(height);
  }

  > * {
    @include position.cover;

    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
  }

  > :is(figure, iframe, img, picture, video) {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @content;
}
