/**
 * https://every-layout.dev/layouts/grid/
 *
 * <div class="layout-grid">
 *   <div><!-- child element --></div>
 *   <div><!-- another child element --></div>
 *   <div><!-- etc --></div>
 * </div>
 */

@use 'scss/mixins/grid';

@mixin layout-grid {
  --grid-gap:              var(--spacing-4);
  --grid-min-column-width: 15rem;

  @include grid.gap(--grid-gap);

  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(
      var(--grid-min-column-width),
      1fr
    )
  );

  @content;
}
