/**
 * https://every-layout.dev/layouts/stack/
 *
 * <div class="layout-stack">
 *   <-- the stack's children -->
 * </div>
 */

@use 'scss/mixins/margin';

@mixin layout-stack {
  --stack-spacing: var(--spacing-1);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    @include margin.block(none);
  }

  > * + * {
    @include margin.top(--stack-spacing);
  }

  @content;
}
