@mixin primitive {
  --font-size: var(--font-size-base);
  --margin-bottom: var(--spacing-2);
  --max-width: 60ch;

  font-size: var(--font-size);
  margin-block-end: var(--margin-bottom);
  max-width: var(--max-width);
}
