@use '../mixins/helpers';
@use '../mixins/viewport';

@mixin button_base {
  // Include mixins
  @include helpers.focusable;

  // Setup custom properties
  --background-color: var(--color-background);
  --border-color: var(--color-border);
  --border-width: var(--border-width-button);
  --color: var(--color-text);
  --font-weight: var(--font-weight-medium);
  --line-height: var(--line-height-cosy);
  --padding-block: var(--spacing-1);
  --padding-inline: var(--spacing-4);
  --pointer-events: auto;
  --transition-duration: var(--transition-duration-promptly);
  --transition-timing-function: var(--transition-timing-eased),
    var(--transition-timing-eased), var(--transition-timing-elastic);
  --width: 100%;

  // Define rules
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-radius: 0.5rem;
  border-style: solid;
  border-width: var(--border-width);
  color: var(--color);
  display: inline-block;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  pointer-events: var(--pointer-events);
  text-align: center;
  transition-duration: var(--transition-duration);
  transition-property: background-color, color, outline-offset;
  transition-timing-function: var(--transition-timing-function);
  width: var(--width);

  // Define pseudo-classes
  &:any-link {
    --background-color: var(--color-background);
    --border-color: var(--color-border);
    --color: var(--color-text);

    text-decoration: none;
  }

  &:where(:focus, :hover, :active) {
    --background-color: var(--color-background-active);
    --border-color: var(--color-border-active);
    --color: var(--color-text-active);
  }

  // Define media-queries
  @include viewport.min-width(600px) {
    --width: auto;
  }

  &:disabled,
  &[disabled] {
    @include disabled;
  }
}

@mixin primary {
  @include button_base;

  --color-background: var(--color-background-button-primary);
  --color-border: var(--color-border-button-primary);
  --color-text: var(--color-text-button-primary);
  --color-background-active: var(--color-background-button-primary-active);
  --color-border-active: var(--color-border-button-primary-active);
  --color-text-active: var(--color-text-button-primary-active);
}

@mixin secondary {
  @include button_base;

  --color-background: var(--color-background-button-secondary);
  --color-border: var(--color-border-button-secondary);
  --color-text: var(--color-text-button-secondary);
  --color-background-active: var(--color-background-button-secondary-active);
  --color-border-active: var(--color-border-button-secondary-active);
  --color-text-active: var(--color-text-button-secondary-active);
}

@mixin disabled {
  --color-background: var(--color-background-button-disabled);
  --color-border: var(--color-border-button-disabled);
  --color-text: var(--color-text-disabled);
  --color-background-active: var(--color-background-button-disabled);
  --color-border-active: var(--color-border-button-disabled-active);
  --color-text-active: var(--color-text-disabled-active);
  --pointer-events: none;
}
