@use 'scss/mixins/margin';

@mixin primitive {
  --color:         var(--color-text-heading-base);
  --font-family:   var(--font-family-heading);
  --font-size:     var(--font-size-base);
  --font-weight:   var(--font-weight-bold);
  --line-height:   var(--line-height-regular);
  --margin-bottom: var(--spacing-1);

  @include margin.bottom(--margin-bottom);

  color:       var(--color);
  font-family: var(--font-family);
  font-size:   var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

// Signpost Page Hero
@mixin signpost-hero {
  --color:         var(--color-text-heading-signpost-hero);
  --font-size:     var(--font-size-u-8);
  --line-height:   var(--line-height-tight);
  --margin-bottom: var(--spacing-3);
}

// Sub-page Hero
@mixin hero {
  --font-size:     var(--font-size-u-6);
  --line-height:   var(--line-height-cosy);
  --margin-bottom: var(--spacing-2);
}

// Blog Post
@mixin primary {
  --font-size:     var(--font-size-u-5);
  --font-weight:   var(--font-weight-medium);
  --margin-bottom: var(--spacing-2);
}

// Section Headings
@mixin secondary {
  --font-size:   var(--font-size-u-3);
  --line-height: var(--line-height-cosy);
}

// Highlight
// List Title
// Form Title
@mixin tertiary {
  --font-size:     var(--font-size-u-2);
  --margin-bottom: var(--spacing-2);
}

// Card
// Link Button
// Fieldset Legend
@mixin item {
  --font-weight: var(--font-weight-medium);
}
