@use 'scss/mixins/helpers';

/**
 * PLEASE NOTE
 *
 * The order of the visited/focus/hover/active states is deliberate.
 * See https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links#styling_some_links
 *
 * Remember: LoVe Fears HAte!
 */
@mixin primary {
  // Include mixins
  @include helpers.focusable;

  // Setup tokens
  --color-text-base:    var(--color-text-link-base);
  --color-text-active:  var(--color-text-link-active);
  --color-text-visited: var(--color-text-link-visited);

  // Setup custom properties
  --color:                      var(--color-text-base);
  --transition-duration:        var(--transition-duration-promptly);
  --transition-timing-function: var(--transition-timing-eased), var(--transition-timing-elastic);

  // Define rules
  color:                      var(--color);
  text-decoration:            none;
  transition-duration:        var(--transition-duration);
  transition-property:        color, outline-offset;
  transition-timing-function: var(--transition-timing-function);

  // Define pseudo-classes
  &:visited {
    --color: var(--color-text-visited);
  }

  &:focus, &:hover, &:active {
    --color: var(--color-text-active);
  }
}

@mixin breakout {
  &::after {
    @include helpers.cover;
  }
}

@mixin inverted {
  // Override tokens
  --color-text-base:    var(--color-text-link-inverse-base);
  --color-text-active:  var(--color-text-link-inverse-active);
  --color-text-visited: var(--color-text-link-inverse-visited);
}

@mixin no-visited-state {
  // Override properties
  --color-text-visited: var(--color-text-base);
}
