/**
* @tokens Base / Color / Primary
* @presenter Color
*/
$primary-blue: #41a6c4 !default;
$primary-green: #53ce63 !default;
$primary-navy: #004881 !default;
$primary-orange: #f68e3b !default;
$primary-red: #f3524f !default;
$primary-turquoise: #10aeb0 !default;
$primary-violet: #a76fba !default;
$primary-yellow: #ffb12a !default;
