/**
* @tokens Base / Color / Greyscale
* @presenter Color
*/
$black: #000;
$off-black: #222 !default;
$grey-dark: #444 !default;
$grey-medium: #999 !default;
$grey-light: #ccc !default;
$grey-lightest: #eee !default;
$off-white: #f5f6f9 !default;
$white: #fff;
