/**
* @tokens Base / Color / Secondary
* @presenter Color
*/
$secondary-blue-dark: #374e60 !default;
$secondary-blue: #87dcf6 !default;
$secondary-green: #87dd92 !default;
$secondary-navy: #4c7fa7 !default;
$secondary-orange: #ffc869 !default;
$secondary-pink: #f68583 !default;
$secondary-red: #f68583 !default;
$secondary-turquoise: #58c7c8 !default;
$secondary-violet: #c29acf !default;
$secondary-yellow: #fddd42 !default;
