@use 'true' as *;
@use 'scss/mixins/float';

@include describe('.none') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include float.none; }
      @include expect { float: none; }
    }
  }
}

@include describe('.start') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include float.start; }
      @include expect {
        float: left;
        float: inline-start;
      }
    }
  }
}

@include describe('.end') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include float.end; }
      @include expect {
        float: right;
        float: inline-end;
      }
    }
  }
}

@include describe('.left') {
  @include it('outputs .start') {
    @include assert {
      @include output { @include float.left; }
      @include expect { @include float.start; }
    }
  }
}

@include describe('.right') {
  @include it('outputs .end') {
    @include assert {
      @include output { @include float.right; }
      @include expect { @include float.end; }
    }
  }
}
