@use 'scss/mixins/font';
@use 'scss/lib/prop';
@use 'scss/tokens/color-greyscale';
@use 'scss/tokens/font-family';
@use 'scss/tokens/font-weight';
@use 'scss/tokens/line-height';

html {
  @include font.size(clamp(1em, 3vmin, 1.25em), 1em);
  // @include font.size(clamp(1em, 1.8vmin, 1.25em), 1em);

  background-color: color-greyscale.$white;
}

body {
  @include font.use(var(--font-size-base));

  background-color: color-greyscale.$white;
  color: color-greyscale.$darkest;
  font-display: swap;
  font-family: font-family.$sans-serif;
  font-optical-sizing: none;
  font-variant-ligatures: none;
  font-weight: font-weight.$regular;
  line-height: line-height.$regular;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  text-size-adjust: 100%;
}
