@use 'scss/primitives/heading';

:is(h1, h2, h3, h4, h5, h6):not([class]) {
  @include heading.primitive;
  font-size: var(--font-size);
}

h1:not([class]) {
  --font-size: var(--font-size-u-8);
}

h2:not([class]) {
  --font-size: var(--font-size-u-6);
}

h3:not([class]) {
  --font-size: var(--font-size-u-4);
}

h4:not([class]) {
  --font-size: var(--font-size-u-3);
}
