@use 'scss/mixins/margin';
@use 'scss/mixins/padding';
@use 'scss/primitives/block-type';

ol:not([class]),
ul:not([class]) {
  --padding-left: var(--spacing-2);

  @include block-type.primitive;
  @include padding.l(--padding-left);

  li:not([class]) {
    ol:not([class]),
    ul:not([class]) {
      --padding-left: var(--spacing-3);
      @include margin.b(none);
    }
  }
}
