/**
 * https://every-layout.dev/layouts/box/
 *
 * <div class="layout-box">
 *   <-- the box's contents -->
 * </div>
 */

@use 'scss/mixins/preferences/contrast';

@mixin layout-box {
  --box-background-color: var(--grey-90);
  --box-border-color: var(--grey-20);
  --box-border-style: solid;
  --box-border-width: var(--border-width-narrow);
  --box-color: var(--color);
  --box-padding: var(--spacing-2);

  background-color: var(--box-background-color);
  border-color: var(--box-border-color);
  border-style: var(--box-border-style);
  border-width: var(--box-border-width);
  color: var(--box-color);
  padding: var(--box-padding);

  @include contrast.more {
    --box-outline-width: var(--box-border-width);

    outline-color: transparent;
    outline-offset: calc(var(--box-outline-width) * -1);
    outline-style: solid;
    outline-width: var(--box-outline-width);
  }

  @content;
}
