@use 'tokens/breakpoint';

@mixin mq($metric, $value) {
  @debug ($metric, $value);
  @media only screen and ($metric: $value) {
    @content;
  }
}

@mixin respond-to($media) {
  $width-value: breakpoint.$desktop !default;

  @if $media == 'phone' {
    $width-value: breakpoint.$phone;
  } @else if $media == 'tablet' {
    $width-value: breakpoint.$tablet;
  } @else if $media == 'laptop' {
    $width-value: breakpoint.$laptop;
  } @else if $media == 'desktop' {
    $width-value: breakpoint.$desktop;
  }

  @include mq(min-width, $width-value) {
    @content;
  }
}
