@use '/lib/value';
@use '/src/tokens/font-size';

@mixin rollerskate($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$rollerskate,
    $fixed
  );
}

@mixin skateboard($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$skateboard,
    $fixed
  );
}

@mixin scooter($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$scooter,
    $fixed
  );
}

@mixin bike($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$bike,
    $fixed
  );
}

@mixin moped($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$moped,
    $fixed
  );
}

@mixin car($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$car,
    $fixed
  );
}

@mixin van($fixed: false) {
  @include value.apply(
    'font-size',
    font-size.$van,
    $fixed
  );
}
