/* stylelint-disable order/properties-alphabetical-order */
@mixin width($value) {
  width: $value;
  block-size: $value;
}

@mixin height($value) {
  height: $value;
  inline-size: $value;
}

@mixin min-width($value) {
  min-width: $value;
  min-block-size: $value;
}

@mixin min-height($value) {
  min-height: $value;
  min-inline-size: $value;
}

@mixin max-width($value) {
  max-width: $value;
  max-block-size: $value;
}

@mixin max-height($value) {
  max-height: $value;
  max-inline-size: $value;
}
