@use 'tokens/base/font-size';
@use 'tokens/base/line-height';
@use 'tokens/base/spacing';

@mixin base {
  $font-size: font-size.$font-size-base;
  $line-height: line-height.$base;
  $margin-bottom: spacing.$base;

  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: $margin-bottom;
}
