/**
* @tokens Color / Greyscale
* @presenter Color
*/
$black: #000;
$off-black: #222 !default;
$dark: #444 !default;
$medium: #999 !default;
$light: #ccc !default;
$lightest: #eee !default;
$off-white: #f5f6f9 !default;
$white: #fff;
