/**
* @tokens Base / Color / Primary
* @presenter Color
*/
$blue: #41a6c4 !default;
$green: #53ce63 !default;
$navy: #004881 !default;
$orange: #f68e3b !default;
$red: #f3524f !default;
$turquoise: #10aeb0 !default;
$violet: #a76fba !default;
$yellow: #ffb12a !default;
