$rollerskate: (
  clamp: clamp(1.28rem, 1.6vw, 1.92rem),
  fixed: 1.6rem,
);

$skateboard: (
  clamp: clamp(1.6rem, 2vw, 2.4rem),
  fixed: 2rem,
);

$scooter: (
  clamp: clamp(1.92rem, 2.4vw, 2.88rem),
  fixed: 2.4rem,
);

$bike: (
  clamp: clamp(2.4rem, 3vw, 3.6rem),
  fixed: 3rem,
);

$moped: (
  clamp: clamp(3.2rem, 4vw, 4.8rem),
  fixed: 4rem,
);

$car: (
  clamp: clamp(4rem, 5vw, 6rem),
  fixed: 5rem,
);

$van: (
  clamp: clamp(5.6rem, 7vw, 8.4rem),
  fixed: 7rem,
);
