$rollerskate: (
  clamp: (
    min: 0.8rem,
    target: 1.6vw,
    max: 1.2rem,
  ),
  fixed: 1rem,
);

$skateboard: (
  clamp: (
    min: 1rem,
    target: 2vw,
    max: 1.5rem,
  ),
  fixed: 1.25rem,
);

$scooter: (
  clamp: (
    min: 1.2rem,
    target: 2.4vw,
    max: 1.8rem,
  ),
  fixed: 1.5rem,
);

$bike: (
  clamp: (
    min: 1.5rem,
    target: 3vw,
    max: 2.25rem,
  ),
  fixed: 1.875rem,
);

$moped: (
  clamp: (
    min: 2rem,
    target: 4vw,
    max: 3rem,
  ),
  fixed: 2.5rem,
);

$car: (
  clamp: (
    min: 2.5rem,
    target: 5vw,
    max: 3.75rem,
  ),
  fixed: 3.125rem,
);

$van: (
  clamp: (
    min: 3.5rem,
    target: 7vw,
    max: 5.25rem,
  ),
  fixed: 4.375rem,
);
