$ant: (
  clamp: (
    min: 0.5rem,
    target: 1vw,
    max: 0.75rem,
  ),
  fixed: 0.625rem,
);

$bee: (
  clamp: (
    min: 1rem,
    target: 2vw,
    max: 1.5rem,
  ),
  fixed: 1.25rem,
);

$chaffinch: (
  clamp: (
    min: 1.5rem,
    target: 3vw,
    max: 2.25rem,
  ),
  fixed: 1.875rem,
);

$dog: (
  clamp: (
    min: 2rem,
    target: 4vw,
    max: 3rem,
  ),
  fixed: 2.5rem,
);

$eagle: (
  clamp: (
    min: 2.5rem,
    target: 5vw,
    max: 3.75rem,
  ),
  fixed: 3.125rem,
);

$flamingo: (
  clamp: (
    min: 3rem,
    target: 6vw,
    max: 4.5rem,
  ),
  fixed: 3.75rem,
);

$grizzly: (
  clamp: (
    min: 3.5rem,
    target: 7vw,
    max: 5.25rem,
  ),
  fixed: 4.375rem,
);

$hippo: (
  clamp: (
    min: 4rem,
    target: 8vw,
    max: 6rem,
  ),
  fixed: 5rem,
);

$iguanadon: (
  clamp: (
    min: 4.5rem,
    target: 9vw,
    max: 7.5rem,
  ),
  fixed: 5.625rem,
);

$map: (
  ant: $ant,
  bee: $bee,
  chaffinch: $chaffinch,
  dog: $dog,
  eagle: $eagle,
  flamingo: $flamingo,
  grizzly: $grizzly,
  hippo: $hippo,
  iguanadon: $iguanadon,
);
