$ant: (
  clamp: clamp(0.8rem, 1vw, 1.2rem),
  fixed: 1rem,
);

$bee: (
  clamp: clamp(1.6rem, 2vw, 2.4rem),
  fixed: 2rem,
);

$chaffinch: (
  clamp: clamp(2.4rem, 3vw, 3.6rem),
  fixed: 3rem,
);

$dog: (
  clamp: clamp(3.2rem, 4vw, 4.8rem),
  fixed: 4rem,
);

$eagle: (
  clamp: clamp(4rem, 5vw, 6rem),
  fixed: 5rem,
);

$flamingo: (
  clamp: clamp(4.8rem, 6vw, 7.2rem),
  fixed: 6rem,
);

$grizzly: (
  clamp: clamp(5.6rem, 7vw, 8.4rem),
  fixed: 7rem,
);

$hippo: (
  clamp: clamp(6.4rem, 8vw, 9.6rem),
  fixed: 8rem,
);

$iguanadon: (
  clamp: clamp(7.2rem, 9vw, 12rem),
  fixed: 9rem,
);

$map: (
  ant: $ant,
  bee: $bee,
  chaffinch: $chaffinch,
  dog: $dog,
  eagle: $eagle,
  flamingo: $flamingo,
  grizzly: $grizzly,
  hippo: $hippo,
  iguanadon: $iguanadon,
);
