:root {
  --color-emerald:  rgb(46, 204, 113);
  --color-nephritis:rgb(39, 174, 96);
  --color-peter:    rgb(52, 152, 219);
  --color-belize:   rgb(41, 128, 185);
  --color-amethyst: rgb(155, 89, 182);
  --color-wisteria: rgb(142, 68, 173);
  --color-orange:   rgb(243, 156, 18);
}
