@use '/scss/mixins/type-scale';
@use '/scss/mixins/margin';
@use '/scss/primitives/heading';
@use '/scss/tokens/line-height';
@use '/brands/raspberry-pi/tokens/color-brand';

.sc-rp-type-hero-heading {
  @include heading.primitive;
  @include type-scale.van;
  @include margin.b('chaffinch');

  color: color-brand.$primary;
  line-height: line-height.$tight;
  max-width: 100%;
}
