@use 'src/mixins/device';
@use 'src/primitives/button';
@use 'src/tokens/color-greyscale';
@use 'src/tokens/font-weight';
@use 'src/tokens/raspberry-pi/color-brand';
@use 'src/tokens/raspberry-pi/color-palette';
@use 'src/tokens/transition-duration';
@use 'src/tokens/transition-timing';

.sc-rp-button,
.sc-rp-button:visited {
  @include button.primitive;
  background-color: color-palette.$navy;
  border-width: 0;
  color: color-greyscale.$white;
  font-weight: font-weight.$medium;
  max-width: 50ch;
  transition-duration: transition-duration.$short;
  transition-property: background-color, transform;
  transition-timing-function: transition-timing.$eased;

  &:hover {
    background-color: color-brand.$primary;
    transform: scale(1.05);
  }
}
