@use 'src/mixins/device';
@use 'src/primitives/button';
@use 'src/tokens/color-greyscale';
@use 'src/tokens/raspberry-pi/color-brand';
@use 'src/tokens/raspberry-pi/color-palette';
@use 'src/tokens/transition-duration';
@use 'src/tokens/transition-timing';

.sc-rp-button,
.sc-rp-button:visited {
  @include button.primitive;

  background-color: color-palette.$navy;
  border-width: 0;
  color: color-greyscale.$white;
  max-width: 50ch;
  transition-duration: transition-duration.$short;
  transition-property: background-color transform;
  transition-timing-function: transition-timing.$eased;
  width: 100%;

  &:hover {
    background-color: color-greyscale.$grey-dark;
    transform: scale(1.05);
  }

  @include device.min-width(60rem) {
    width: auto;
  }
}
