/**
* @tokens Border Radius
* @presenter BorderRadius
*/
$circle: 100%;
$large:  1rem;
$medium: 0.5rem;
$small:  0.25rem;
$square: 0;

$map: (
  circle: $circle,
  large:  $large,
  medium: $medium,
  small:  $small,
  square: $square,
);
