/**
* @tokens Color / Greyscale
* @presenter Color
*/
$black:    #000;
$darkest:  #222;
$darker:   #444;
$dark:     #606060;
$medium:   #999;
$light:    #ccc;
$lighter:  #e5e5e5;
$lightest: #f5f6f9;
$white:    #fff;
