/**
 * Based on a scale of 1.2
 * https://type-scale.com/?size=16&scale=1.200&text=Raspberry%20Pi&font=Roboto&fontweight=500&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.4&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false
 * Each step up:   (previous-step) * 1.2
 * Each step down: (previous-step) * 0.8
 */
$u-8:  4.3rem;   // (68.80px)
$u-7:  3.583rem; // (57.33px)
$u-6:  2.986rem; // (47.78px)
$u-5:  2.488rem; // (39.81px)
$u-4:  2.074rem; // (33.18px)
$u-3:  1.728rem; // (27.65px)
$u-2:  1.44rem;  // (23.04px)
$u-1:  1.2rem;   // (19.20px)
$base: 1rem;     // (16.00px)
$d-1:  0.833rem; // (13.33px)
$d-2:  0.694rem; // (11.11px)
$d-3:  0.579rem; // (9.26px)

$map: (
  u-8:  $u-8,
  u-7:  $u-7,
  u-6:  $u-6,
  u-5:  $u-5,
  u-4:  $u-4,
  u-3:  $u-3,
  u-2:  $u-2,
  u-1:  $u-1,
  base: $base,
  d-1:  $d-1,
  d-2:  $d-2,
  d-3:  $d-3,
);
