$multiplier: 0.625;

$ant: #{1rem * $multiplier};
$bee: #{2rem * $multiplier};
$chaffinch: #{3rem * $multiplier};
$dog: #{4rem * $multiplier};
$eagle: #{5rem * $multiplier};
$flamingo: #{6rem * $multiplier};
$grizzly: #{7rem * $multiplier};
$hippo: #{8rem * $multiplier};
$iguanadon: #{9rem * $multiplier};
