@use '/src/mixins/device';
@use '/src/mixins/padding';
@use '/src/mixins/type-scale';
@use '/src/tokens/font-family';
@use '/src/tokens/font-weight';
@use '/src/tokens/line-height';

@mixin primitive {
  display: inline-block;
  font-family: font-family.$sans-serif;
  font-weight: font-weight.$regular;
  line-height: line-height.$regular;
  text-align: center;
  text-decoration: none;
  @include padding.block('ant');
  @include padding.inline('chaffinch');
  @include type-scale.skateboard;

  @content;
}
