@use 'src/mixins/device';
@use 'src/mixins/font-size';
@use 'src/mixins/padding';
@use 'src/tokens/font-family';
@use 'src/tokens/font-weight';
@use 'src/tokens/line-height';

@mixin primitive {
  @include font-size.skateboard;
  @include padding.v('ant');

  display: inline-block;
  font-family: font-family.$sans-serif;
  font-weight: font-weight.$regular;
  line-height: line-height.$regular;
  text-align: center;
  text-decoration: none;

  @include device.respond-to('phone-landscape') {
    @include padding.h('dog');
  }

  @content;
}
