@use 'src/mixins/margin';
@use 'src/mixins/type-scale';
@use 'src/tokens/transition-timing';
@use 'src/tokens/transition-duration';

@mixin primitive {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  transition-duration: transition-duration.$short;
  transition-property: color;
  transition-timing-function: transition-timing.$eased;
}
