@use 'true' as *;
@use 'scss/mixins/size';
@use 'scss/mixins/size/height';

@include describe('.max') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include height.max(5rem); }
      @include expect {
        --max-block-size: 5rem;
        max-height: var(--max-block-size);
        max-block-size: var(--max-block-size);
      }
    }
  }
}

@include describe('.min') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include height.min(5rem); }
      @include expect {
        --min-block-size: 5rem;
        min-height: var(--min-block-size);
        min-block-size: var(--min-block-size);
      }
    }
  }
}

@include describe('.set') {
  @include it('outputs the css') {
    @include assert {
      @include output { @include height.set(5rem); }
      @include expect {
        --block-size: 5rem;
        height: var(--block-size);
        block-size: var(--block-size);
      }
    }
  }
}
